# ignore all files in any directory named build
build/*

# ignore all ROOT files
*.root

# ignore cmake files
CMakeCache.txt
CMakeFiles/*
Makefile
cmake_install.cmake
li6sim-prefix/*
lib/Li6sim-build/*

texneutsim
